!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title タイトル
  %body
    .info-bar sample
    %header
      .header-container
        %p.header-container__user-name TEST
        %a.header-container__edit-icon{:href => "#"}
          %i.fas.fa-cog
        %a.header-container__new-group-icon{:href => "#"}
          %i.fas.fa-edit

    .group-container
      %p.group-container__name test-group
      %a.group-container__edit-btn{:href => "#"}
        %p Edit
      %p.group-container__member Member: test

    .side-container
      .side-container__group--first
        %p.side-container__name test-group
        %p.side-container__message 頑張るぞ！
      .side-container__group
        %p.side-container__name sample-group
        %p.side-container__message Hello!
      .side-container__group
        %p.side-container__name example
        %p.side-container__message まだメッセージがありません

    .messages-container
      .messages-container__message--first
        %p.messages-container__name test-user
        %p.messages-container__timestump 2019/08/08(Thu) 18:04:52
        %p.messages-container__user-message ハロー！
      .messages-container__message
        %p.messages-container__name test2-user
        %p.messages-container__timestump 2019/08/08(Thu) 18:04:52
        %p.messages-container__user-message こんにちは！

    .form-container
      %form{:action => "#"}
        %input.form-container__message{:placeholder => " type a message", :type => "text"}/ 
        %label{:for => "form-container__image"}
          %i.far.fa-image.fa-2x
          %input#form-container__image{:type => "file"}
        %input.form-container__btn{:type => "submit", :value => "Send"}/