.header-container {
  background-color: #253141;
  height: $header-height;
  width: 300px;
  &__user-name {
    display: inline;
    color: $shiro;
    font-size: 16px;
    font-weight: bold;
    line-height: $header-height;
    margin-left: $space20; 
  }
  &__new-group-icon {
    color: $shiro;
    float: right;
    line-height: $header-height;
  }
  &__edit-icon {
    color: $shiro;
    float: right;
    line-height: $header-height;
    margin-right: $space20;
  }
}

.group-container {
  border-bottom: solid 1px #eeeeee;
  width: calc(100vw - 300px);
  margin-top: -100px;
  margin-left: 300px;
  height: 100px;
  position: relative;
&__name {
  position: absolute;
  top: 35px;
  left: $space40;
  font-size: 20px;
  color: #333333;
  display: inline;
}
&__member {
  position: absolute;
  font-size: 12px;
  color: $haiiro;
  top: 83px;
  left: $space40;
}
&__edit-btn {
  border: solid 1px $aoiro;
  height: 40px;
  margin-top: -68px;
  margin-right: $space40;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  float: right;
  p {
    line-height: 40px;
    color: $aoiro;
  }
}
}

.side-container {
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #2f3e51;
  float: left;
  p {
    color: $shiro;
    font-weight: bold;
    margin-left: $space20;
  }
  &__group {
    height: 71px;
    &--first {
      padding-top: 20px;
    }
  }
  &__name {
    font-size: 15px; 
    margin-bottom: 5px;
  }
  &__message {
    font-size: 11px;
    margin-bottom: 40px;
  }
}

.messages-container {
  float: right;
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  background-color: #fafafa;
  
  &__message {
    margin-left: $space40;
    &--first {
      height: 126px;
      margin-top: 46px;
      margin-left: $space40;
    }
  }
  &__name {
    display: inline;
    font-weight: bold;
    font-size: 16px;
    color: #434A54;
  }
  &__timestump {
    display: inline;
    margin-left: 10px;
    color: $haiiro;
    font-size: 12px;
  }
  &__user-message {
    margin-top: 10px;
    font-size: 14px;
    color: #434A54;
  }
}

.form-container{
  @include flex-container;
  float: left;
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #ddd;
  form {
    height: 50px;
    width: calc(100vw - 380px);
    position: relative;
  }
  &__message {
    border-style: none;
    height: 100%;
    width: 88%;
  }
  label {
    position: absolute;
    line-height: 50px;
    top: 10%;
    right: 13%;
  }
  #form-container__image {
    display: none;
  }
  &__btn {
    color: $shiro;
    background-color: $aoiro;
    height: 100%;
    border-style: none;
    width: 10%;
    float: right;
  } 
}