%header
  .header-container
    %p.header-container__user-name
      = current_user.name
    = link_to edit_user_path(current_user), class: 'header-container__edit-icon'do
      = fa_icon 'cog', class: 'icon'
    =link_to "#", class: "header-container__new-group-icon" do
      = fa_icon 'edit'
    