%header
  .header-container
    %p.header-container__user-name TEST
    %a.header-container__edit-icon{href: "#"}
      %i.fas.fa-cog
    %a.header-container__new-group-icon{href: "#"}
      %i.fas.fa-edit