.side-container
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .side-container__group--first
        %p.side-container__name 
          = group.name
        %p.side-container__message
          = group.show_last_message
      